:root {
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --Very-dark-gray: hsl(0, 0%, 27%);
}


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    overflow: hidden;

}

.main {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, max-content);
    grid-template-areas:
        "main"
        "buy"
        "image1"
        "about"
        "image2";
}

.main_hero {
    min-height: 500px;
    background-image: url("/images/desktop-image-hero-1.jpg");
    background-size: cover;
    background-position: center;
    grid-area: main;
}

.main_nav {
    display: flex;
}

.main_links {
    display: none;
}

.main_logo {
    margin: 0 auto;
}

.main_controls {
    background-color: var(--black);
    display: flex;
    width: 100px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    grid-area: main;
    justify-self: end;
    align-self: end;

}

.main_arrows {
    height: 40%;
}

.main_buy {
    grid-area: buy;
}

.main_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_title {
    color: var(--black);
}

.main_paragraph {
    line-height: 1.5;
    margin: 1em 0 2em;
    color: var(--dark-gray);
}

.main_cta {
    text-decoration: none;
    color: var(--Very-dark-gray);
    text-transform: uppercase;
    letter-spacing: 4px;
    ;
}

.main_arrow {
    margin-left: 20px;
}

.main_bg {
    grid-area: image1;
    min-height: 250px;
    height: 100px;
    background-image: url("/images/image-about-dark.jpg");
    background-size: cover;
    background-position: center;

}